.ode-button{

display:inline-flex;

align-items:center;

justify-content:center;

gap:.5rem;

padding:.8rem 1.2rem;

border:none;

cursor:pointer;

font-size:.95rem;

font-weight:600;

border-radius:var(--ode-radius-md);

transition:.25s;

}

.ode-button:hover{

transform:translateY(-1px);

}

.ode-button--primary{

background:var(--ode-primary);

color:#fff;

}

.ode-button--secondary{

background:#444;

color:#fff;

}

.ode-button--success{

background:#16a34a;

color:#fff;

}

.ode-button--danger{

background:#dc2626;

color:#fff;

}